<a href="https://colab.research.google.com/github/roilhi/MetNum_ITECI_2020/blob/gh-pages/Nieves_Ulises_TrabajoFinalMetNum_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Métodos Numéricos

**Unidad 1. Redondeo de cifras significativas**

In [ ]:
import math #estas son las librerias que realizan los diferentes calculos

In [ ]:
import numpy as op

Para empezar tenemos que elegir una de las siguientes operaciones y resolverla. Una vez obtenidos los resultados tendremos que hacer un redondeo hacia arriba de 4, 3 y 2 cifras significativas.

### a) $\frac{\sqrt{2}}{2} $

### b) $24\pi-12$

### c) $-\frac{3\sqrt{5}}{5}$

### d) $\cos\left(1-\frac{\pi}{6}\right)$

En nuestro caso elegimos la opción “a” $\frac{\sqrt{2}}{2} $  y resolvimos la operación dándonos los siguientes resultados:

In [ ]:
round(op.sqrt(2)/2,4) # A 4 dígitos

0.7071

In [ ]:
round(op.sqrt(2)/2,3) # A 3 dígitos

0.707

In [ ]:
round(op.sqrt(2)/2,2) # A 2 dígitos

0.71

2. ALGORITMO DE SERIES DE TAYLOR

En nuestro segundo problema se nos pide realizar un algoritmo que calcule la aproximacion en series de Taylor de la funcion $ f(x)=sin x$ Lo que se nos pide es que el algoritmo resuelva cualquiera de los problemas siguentes:

### 1) $ sen x = x $

### 2) $ sen x = x-\frac{x^3}{3!} $

### 3) $ sen x = x-\frac{x^3}{3!}+\frac{x^5}{5!} $

Lo siguiente es definir nuestra "X" es decir darle un valor. En nuestro caso le daremos un valor de $2$

Ahora elegiremos la opcion $2$ para nuestro ejemplo y le daremos un valor

In [ ]:
x=int(input("ingresa el valor"))# para usar el algoritmo que realiza las operaciones

ingresa el valor2

In [ ]:
x-(x^3)/math.factorial(3)

1.8333333333333333

Para un valor de $x=\frac{3pi}{2} $ y un Valor analitico de $sen\left(\frac{3pi}{2}\right)=-1$ compararemos el error relativo para las series $ 1, 2, 3, 10, 50,$

In [ ]:
import math #volvi a meter las librerias por que aveces no me queria correr por que me pedia que la llamara

In [ ]:
import numpy as op #le puse op de operacion en lugar de np para facilitar mas las cosas

In [ ]:
x = (3*op.pi)/2

In [ ]:
va = op.sin(3*op.pi/2)

In [ ]:
va

-1.0

In [ ]:
def ErrorRelativo(vAn,vNum):
  epsilon = abs((vAn-vNum)/vAn)*100
  return epsilon

In [ ]:
def TaylorSeno(x,Nterm):
  senoAprox = 0  
  for i in range(Nterm):
    coef = (-1)**(i)
    numerador = x**((2*i)+1) 
    denominador = math.factorial((2*i)+1)
    senoAprox = senoAprox+coef*(numerador/denominador)
  return senoAprox

In [ ]:
vn1 = TaylorSeno(x,1)

In [ ]:
print(vn1)

4.71238898038469

In [ ]:
ErrorRelativo_N1 = ErrorRelativo(va,vn1)

In [ ]:
print(ErrorRelativo_N1)

571.238898038469

In [ ]:
print(ErrorRelativo_N1)

571.238898038469

In [ ]:
vn2 = TaylorSeno(x,2)

In [ ]:
print(vn2)

-12.728641652283956

In [ ]:
ErrorRelativo_N2 = ErrorRelativo(va,vn2)

In [ ]:
print(ErrorRelativo_N2)

1172.8641652283957

In [ ]:
vn3 = TaylorSeno(x,3)

In [ ]:
print(vn3)

6.636666525534631

In [ ]:
ErrorRelativo_N3 = ErrorRelativo(va,vn3)

In [ ]:
print(ErrorRelativo_N3)

763.6666525534631

In [ ]:
vn10 = TaylorSeno(x,10)

In [ ]:
print(vn10)

-1.000002575987572

In [ ]:
ErrorRelativo_N10 = ErrorRelativo(va,vn10)

In [ ]:
print(ErrorRelativo_N10)

0.00025759875719177927

In [ ]:
vn50 = TaylorSeno(x,50)

In [ ]:
print(vn50)

-1.0000000000000002

In [ ]:
ErrorRelativo_N50 = ErrorRelativo(va,vn50)

In [ ]:
print(ErrorRelativo_N50)

2.220446049250313e-14

**Unidad 2 INTERPOLACION Y REGRESION NUMÉRICA**

In [ ]:
import pandas as pd #esta es la que carga las tablas que le agregue

In [ ]:
lista= ["Xi", "f(Xi)"] #estos son los margenes de mi tabla

In [ ]:
reg99e= pd.read_csv("reg99e.csv") #aqui llamo a mi tabla ya que esta se encontraba en otro archivo.
reg99e #este es el nombre de mi tabla

    Xi   F(Xi)
0  1.6       2
1  2.0       8
2  2.5      14
3  3.2      15
4  4.0       8
5  4.5       2

Vamos a calcular las funciones de interpolacion polinomiales usando el metodo de Newton.Estas funciones estaran evaluadas del 1 a 3: $f_1(x) f_2(x) f_3(x)$ Evaluando en cada función $f$(2.8). Para esto nos apollaremos con el registro de datos discretos de la tabla de arriba

Para $n=1$ usaremos la funcion $f(x_1,x_0)=\displaystyle\frac{f(x_1)-f(x_0)}{x_1-x_0}$ los valores que corresponden a las (x) viene determinado en la tabla pot lo que nos quedaria hacer el calculo.

Le damos valor a cada termino que utilizaremos y realizamos la operacion.

In [ ]:
fx0 =2 #son los valores de las funciones por separado
fx1=8
fx2=14
fx3=15
x0=1.6
x1=2.0
x2=2.5
x3=3.2

Para: $f(x_1,x_0)=\displaystyle\frac{f(x_1)-f(x_0)}{x_1-x_0}$

In [ ]:
(fx1-fx0)/(x1-x0)

15.000000000000004

Para: $f(x_2,x_1)=\displaystyle\frac{f(x_2)-f(x_1)}{x_2-x_1}$

In [ ]:
(fx2-fx1)/(x2-x1)

12.0

Para:$(x_3,x_2)=\displaystyle\frac{f(x_3)-f(x_2)}{x_3-x_2}$

In [ ]:
(fx3-fx2)/(x3-x2)

1.4285714285714282

**Unidad 2 INTERPOLACION DE LAGRANGE**

In [ ]:
import pandas as pd #no se si era necesario volver a llamarlo pero no podia cargar mi segunda tabla

In [ ]:
lista= ["Xi", "yi","Xiyi","Xi^2"]

In [ ]:
lagrange= pd.read_csv("lagrange.csv")
lagrange  #misma historia este es para llamar a mis datos para aparecerlos en la tabla

   /  Xi     yi    Xiyi  Xi^2
0  /   1   5.04    5.04     1
1  /   2   8.12   16.24     4
2  /   3  10.64   31.92     9
3  /   4  13.18   52.72    16
4  /   6  20.04  120.24    36
5  Σ  21  73.22  307.16    91

Para esta operacion tambien nos ayudaremos con la tabla. sabiendo cuales son los valores y que dependen de su posicion en la tabla, podemos realizar la operaciones de cada valor individualmente para resolver la interpolacion completa

$f_n (x)=\displaystyle \sum_{i=0}^N L_i(X)f(x_i)$

In [ ]:
n=6
Σxi=21
Σyi=73.22
Σxi2=91
Σxiyi=307.16
xpro=3
yprom=10.46

Para: $a_1=\displaystyle\frac{nΣxiyi-ΣxiΣyi)}{(nΣxi^2)-(Σxi)}$

In [ ]:
((n*Σxiyi)-(Σxi*Σyi))/((n*Σxi2)-(Σxi*Σxi)) # es la sumatoria total

2.9080000000000013

In [ ]:
a1=2.91
Yn=12.203
Xn=3.5
a0=2.01

$a0=Yn-a1Xn$

In [ ]:
Yn-a1*Xn

2.017999999999999

$y=a0+a1$

In [ ]:
a0+a1

4.92

**Unidad 3. INTEGRACION Y DIFERENCIACION NUMERICA**

Realizaremos la siguiente integral definida $\displaystyle \int_{-3}^5 (4x-3)^3dx $

definimos los valores de $t=4$

de igual manera los valores de $tx=4x-3$

agregamos una fraccion para poder dividir la ecuacion y pasamos el 3 como exponente $\displaystyle \int (4x-3)^3\frac{1}{4}dx )$

de esta manera podemos multiplicar la fraccion y ahora pasara a dividir la ecuacion $\displaystyle \int \frac{(4x-3)^3}{4}dx )$

ahora reemplazamos la ecuacion por nuestro $tx$ $\displaystyle \int \frac{tx^3}{4}dx )$ de esta manera podemos sacar la fraccion y esto nos permitiria sumarle 1 a nuestro exponente

$\frac{1}{4}\displaystyle \int tx^3dx )$ ahora podemos multiplicar la fraccion no sin antes devolver sus valores originales $\displaystyle\frac{1}{4}\frac{(4x-3)^4}{4}|_{-3}^5$

solo resta reemplazar los valores en la intregral y resolvemos

In [ ]:
(4*5-(3))**4/16-((4*-3)-(3))**4/16

2056.0

$V.a=2056$

In [ ]:
#no se si era necesario pero se me fue la pinza resolviendo la integral para que se mirara mas presentable y hacer uso de las diferentes herramientas

**Metodo simpson** $\displaystyle\frac{1}{3}$

Para este metodo tomamos prestada la ecuación de Newton-Cotes pero ahora la aproximación es
con un polinomio. Para realizar este metodo usaremos la funcion:

$\displaystyle I=(b-a)\frac{fx_0+4f(x_1)+f(x_2)}{6}$

Como ya mencionamos, este metodo usa la ecuacion de Newton asi como sus resultados para completar el metodo.

$\displaystyle x_0=-3$

$\displaystyle x_1=\frac{5-(-2)}{3}=4$

$\displaystyle x_2=5$

$\displaystyle f(x_0)=-3375 $

$\displaystyle f(x_1)=2197 $

$\displaystyle f(x_2)=4913 $

In [ ]:
a=-3
b=5
𝑥0=-3
𝑥1=4
𝑥2=5
𝑓𝑥0=-3375
𝑓𝑥1=2197
𝑓𝑥2=4913 #valores por separado de cada elemento

In [ ]:
((b-a)*((𝑓𝑥0+4*𝑓𝑥1)+𝑓𝑥2)/6)

13768.0

$I=13768$

$\displaystyle Er=\frac{V.a-I}{V.a}$

In [ ]:
(2056-13768)/2056*100

-569.6498054474708

**Unidad 4. SOLUCION DE SISTEMAS DE ECUACUIONES LINEALES**

**Metodo Jacobi**

Es un método iterativo en la solución de sistemas de ecuaciones lineales propuesto
por Carl Gustav Jakob Jacobi. Generalmente se utiliza para sistemas de dimensiones grandes, ya que es iterativo.

Se generan iteraciones de las componentes del vector “x” a partir de las
soluciones ya calculadas. En un sistema de 3x3, como los que hemos analizado las soluciones se
resuelven mediante:

$\displaystyle x_1^1=\frac {-(a_12)(x_2^0)-(a_13)(x_3^0)+(b_1)}{a_11}$

$\displaystyle x_2^1=\frac {-(a_21)(x_1^0)-(a_23)(x_3^0)+(b_2)}{a_22}$

$\displaystyle x_3^1=\frac {-(a_31)(x_1^0)-(a_32)(x_3^0)+(b_3)}{a_33}$

Para el siguiente conjunto de ecuaciones se pueden realizar con el metodo de Jacobi, pero primero se tienen que acomodar

$ \displaystyle x+y-2z=-2 $

$ \displaystyle y+3z=7 $

$ \displaystyle x-z=-1 $

$A=\begin{bmatrix} 
1,1,-2\\  
0,1,.3\\
1,0,-1
\end{bmatrix}$

$X=\begin{bmatrix}
x_1\\
x_2\\
x_3
\end{bmatrix}$

$b=\begin{bmatrix}
-2\\
7\\-1
\end{bmatrix}$

Una vez acomodadas las ecuaciones es cuando se empieza a sustituir las "a^" las "x" y las "b" en nuestro sistema de ecuaciones

$\displaystyle x_1^1=\frac {-(a_12)(x_2^0)-(a_13)(x_3^0)+(b_1)}{a_11}=$

In [ ]:
(-(1)*(0)-(-2)*(0)+(-2))/1

-2.0

$\displaystyle x_2^1=\frac {-(a_21)(x_1^0)-(a_23)(x_3^0)+(b_2)}{a_22}=$

In [ ]:
(-(0)*(0)-(-3)*(0)+(7))/1

7.0

$\displaystyle x_3^1=\frac {-(a_31)(x_1^0)-(a_32)(x_2^0)+(b_3)}{a_33}=$

In [ ]:
(-(1)*(0)-(-0)*(0)+(-1))/-1

1.0

$\displaystyle X_1^1=-2 $

$\displaystyle X_2^1=7 $

$\displaystyle X_3^1=1$

una vez obtenidos los resultados, estos se usaran en la proxima interaccion

$\displaystyle x_1^2=\frac {-(a_12)(x_2^1)-(a_13)(x_3^1)+(b_1)}{a_11}=$

In [ ]:
(-(1)*(7)-(-2)*(1)+(-2))/1

-7.0

$\displaystyle x_2^2\frac {-(a_21)(x_1^1)-(a_23)(x_3^1)+(b_2)}{a_22}=$

In [ ]:
(-(0)*(-2)-(3)*(1)+(7))/1

4.0

$\displaystyle x_3^2=\frac {-(a_31)(x_1^1)-(a_32)(x_2^1)+(b_3)}{a_33}=$

In [ ]:
(-(1)*(-2)-(0)*(7)+(-1))/(-1)

-1.0

$\displaystyle X_1^2=-7 $

$\displaystyle X_2^2=4 $

$\displaystyle X_3^2=-1$

$\displaystyle x_1^3=\frac {-(a_12)(x_2^2)-(a_13)(x_3^2)+(b_1)}{a_11}=$

In [ ]:
(-(1)*(4)-(-2)*(-1)+(-2))/1

-8.0

$\displaystyle x_2^3\frac {-(a_21)(x_1^3)-(a_23)(x_3^2)+(b_2)}{a_22}=$

In [ ]:
(-(0)*(7)-(3)*(-1)+(7))/1

10.0

$\displaystyle x_3^3=\frac {-(a_31)(x_1^2)-(a_32)(x_2^2)+(b_3)}{a_33}=$

In [ ]:
(-(1)*(-7)-(0)*(4)+(-1))/(-1)

-6.0

$\displaystyle X_1^3=-8 $

$\displaystyle X_2^3=10 $

$\displaystyle X_3^3=-6$

$\displaystyle x_1^4=\frac {-(a_12)(x_2^3)-(a_13)(x_3^3)+(b_1)}{a_11}=$

In [ ]:
(-(1)*(10)-(-2)*(-6)+(-2))/1

-24.0

$\displaystyle x_2^4\frac {-(a_21)(x_1^3)-(a_23)(x_3^3)+(b_2)}{a_22}=$

In [ ]:
(-(0)*(-8)-(3)*(-6)+(7))/1

25.0

$\displaystyle x_3^4=\frac {-(a_31)(x_1^3)-(a_32)(x_2^3)+(b_3)}{a_33}=$

In [ ]:
(-(1)*(-8)-(0)*(10)+(-1))/(-1)

-7.0

$\displaystyle X_1^4=-24 $

$\displaystyle X_2^4=25 $

$\displaystyle X_3^4=-7$

$\displaystyle x_1^5=\frac {-(a_12)(x_2^4)-(a_13)(x_3^4)+(b_1)}{a_11}=$

In [ ]:
(-(1)*(25)-(-2)*(-7)+(-2))/1

-41.0

$\displaystyle x_2^5\frac {-(a_21)(x_1^4)-(a_23)(x_3^4)+(b_2)}{a_22}=$

In [ ]:
(-(0)*(-24)-(3)*(-7)+(7))/1

28.0

$\displaystyle x_3^5=\frac {-(a_31)(x_1^4)-(a_32)(x_2^4)+(b_3)}{a_33}=$

In [ ]:
(-(1)*(-24)-(0)*(25)+(-1))/(-1)

-23.0

Como punto final solo nos queda sacar el porcentaje del error relativo

$ \displaystyle x_1^2= \frac{-7-(2)}{-7}$

In [ ]:
((-7-(-2))/-7)*100

71.42857142857143

$ \displaystyle x_2^2= \frac {4-7}{4} $

In [ ]:
((4-7)/4)*100

-75.0

$ \displaystyle x_3^2= \frac{-1-(1)}{-1}$

In [ ]:
(-1-(1)/-1)*100

0.0

In [ ]:
#creo que hubiera sido mas facil haber creado un ciclo para todo esto ultimo :(